.card {
    width: 100%;
    border-radius: var(--radius-card);
    background-color: var(--color-background);
}

.card:hover {
}

/* ---------- Слайдер ---------- */

.card__slider {
    position: relative;
    aspect-ratio: 4 / 3;
    overflow: hidden;
}

/* ---------- Тело ---------- */

.card__body {
    width: 100%;
    padding: 20px 20px 14px;

    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

/* ---------- Заголовок ---------- */

.card__text {
    font-size: 14px;
    line-height: 150%;
}
.card__text span {
    margin-left: 7px;
}

.card__text--muted {
    color: var(--color-text-sub);
}

.card__title {
    font-size: 22px;
    line-height: 120%;
    font-weight: 600;

    margin-top: 3px;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ---------- Материалы ---------- */

.card__materials {
    margin-bottom: 16px;
}

.card__material-list {
    display: flex;
    gap: 8px;
}

.card__material-item {
    display: flex;
    align-items: center;
    gap: 4px;
}

/* ---------- Блок заказа ---------- */

.card__order {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 16px;
}

.card__price {
    font-size: 20px;
    font-weight: 600;
}

.card__button {
    padding: 8px 16px;
    border-radius: var(--radius-button);
    background: var(--color-accent);
    color: #fff;
}

.card__button:hover {
    opacity: 0.9;
}

/* ---------- Футер ---------- */

.card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__likes {
    display: flex;
    align-items: center;
    gap: 4px;
}